{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %} 

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Learn about who we are</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt excepturi ad in voluptatibus iste aut necessitatibus voluptatum quod provident iusto, tempore repellendus nam, enim error odit quia nihil. Est, iusto?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, laudantium libero fugit tenetur sequi consequatur delectus expedita laboriosam perferendis odio! Sunt deleniti esse nam corporis nesciunt minus, dolor optio voluptatem.
            </p>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt excepturi ad in voluptatibus iste aut necessitatibus voluptatum quod provident iusto, tempore repellendus nam, enim error odit quia nihil. Est, iusto?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, laudantium libero fugit tenetur sequi consequatur delectus expedita laboriosam perferendis odio! Sunt deleniti esse nam corporis nesciunt minus, dolor optio voluptatem.
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum soluta fuga impedit iure ipsam! Placeat voluptates qui non sequi cumque rerum veritatis, perferendis similique dolorem, quas laudantium voluptate inventore commodi?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio ut nihil quas quaerat maxime quisquam. Reprehenderit, iste. Consequuntur non, doloremque consectetur provident rem quidem voluptatibus, eveniet, optio ducimus commodi voluptatum!
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt excepturi ad in voluptatibus iste aut necessitatibus voluptatum quod provident iusto, tempore repellendus nam, enim error odit quia nihil. Est, iusto?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, laudantium libero fugit tenetur sequi consequatur delectus expedita laboriosam perferendis odio! Sunt deleniti esse nam corporis nesciunt minus, dolor optio voluptatem.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt excepturi ad in voluptatibus iste aut necessitatibus voluptatum quod provident iusto, tempore repellendus nam, enim error odit quia nihil. Est, iusto?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, laudantium libero fugit tenetur sequi consequatur delectus expedita laboriosam perferendis odio! Sunt deleniti esse nam corporis nesciunt minus, dolor optio voluptatem.
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, quas nisi! Optio et odio deleniti corrupti, laudantium, numquam minus neque accusantium tenetur voluptatibus vitae sed magnam veniam iusto consequuntur dolore!
            </p>
        </div>
    </div>
</div>
{% endblock %}