{% extends "base.html" %}
{% load static %}
{% block title %}Phones{% endblock %} 

{% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Smart Phones</h1>
          <p class="lead fw-normal text-white-50 mb-0">Latest Flagship Phones Are Now Available</p>
      </div>
  </div>
</header>

<section>
    <div class="container py-5">
      {% for item in phones %}
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="../static/images/{{item.image}}"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>{{item.phone_category.name}}</h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span>{{item.color}}</span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    {{item.description}}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start ">
                  <br/><br/><br/>
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">SAR {{item.price}}</h4>
                  </div>
                  <h6 class="text-success">Free shipping</h6>
                  <br/><br/>
                  <div class="d-flex flex-column mt-4">
                    <a href="{% url 'phoneDetails' id=item.id %}" class="d-flex flex-column" style="text-decoration: none;"><button class="btn btn-dark btn-sm" type="button">Details</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</section>

{% endblock %}